**/bin/
**/obj/

# Ignore build results
*.dll
*.exe
*.pdb

# Ignore Visual Studio files
.vs/
.vscode/

#Ignore Configurations
appsettings.json
appsettings.*.json
KAFO.DAL/Data/DesignTimeDbContextFactory.cs