@model Account

@{
    string Discriminator = "";
    string DiscriminatorAl = "";
    string DiscriminatorPlural = "";
    string DiscriminatorPluralAl = "";
    if (Model?.Type == AccountType.Account)
    {
        Discriminator = ArabicWords.AccountDiscriminator;
        DiscriminatorPlural = ArabicWords.AccountDiscriminatorPlural;
        DiscriminatorAl = ArabicWords.AccountDiscriminatorAl;
        DiscriminatorPluralAl = ArabicWords.AccountDiscriminatorPluralAl;
    }
    else if (Model?.Type == AccountType.Department)
    {
        Discriminator = ArabicWords.DepartmentDiscriminator;
        DiscriminatorPlural = ArabicWords.DepartmentDiscriminatorPlural;
        DiscriminatorAl = ArabicWords.DepartmentDiscriminatorAl;
        DiscriminatorPluralAl = ArabicWords.DepartmentDiscriminatorPluralAl;
    }
    ViewBag.DiscriminatorPlura = DiscriminatorPlural;
    ViewData["Title"] = $"تفاصيل {DiscriminatorAl}";
    IEnumerable<Receipt>? Receipts = ViewBag?.receipts;
}

<div class="container mt-5">
    
        <partial name="_AccountDetails" model="@Model" />
    <div id="receipts">
        <partial name="~/Views/Receipts/Index.cshtml" model="@Receipts" />
    </div>

</div>
@section Scripts {
    <partial name="~/Views/Receipts/_IndexFilterJs.cshtml" />
}

@* @section Scripts{ *@
@*     <script> *@
@*         $(document).ready(function () { *@
@*             // Load receipts dynamically *@
@*             $.ajax({ *@
@*                 url: '@Url.Action("Index", "Receipts")', *@
@*                 type: 'GET', *@
@*                 data: { accountId: '@Model.Id' }, *@
@*                 success: function (data) { *@
@*                     $('#receipts').html(data); *@
@* debugger *@
@*                     // Execute any scripts in the loaded content *@
@*                     $('#receipts script').each(function() { *@
@*                         eval($(this).text()); *@
@*                     }); *@
@*                 }, *@
@*                 error: function () { *@
@*                     $('#receipts').html('<div class="alert alert-danger">فشل في تحميل الحركات النقدية.</div>'); *@
@*                 } *@
@*             }); *@
@*         }); *@
@*     </script> *@

@* } *@